@model IEnumerable<Inventory_Control.Models.Client>

@{
    ViewData["Title"] = "Clients";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Clients</h1>
    @foreach (var Client in Model)
    {
        @Html.DisplayFor(Model => Client.Name)
        <br>
        @Html.DisplayFor(Model => Client.CPF)
        <br>
        @Html.DisplayFor(Model => Client.Email)
        <br>
        @Html.DisplayFor(Model => Client.BirthDate)
        <br>
    }
    <a asp-action="Create">Create new Client</a>
</div>
