@model IEnumerable<Inventory_Control.Models.Seller>

@{
    ViewData["Title"] = "Sellers";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sellers</h1>
    @foreach (var Seller in Model)
    {
        @Html.DisplayFor(Model => Seller.Name)
        <br>
        @Html.DisplayFor(Model => Seller.CPF)
        <br>
        @Html.DisplayFor(Model => Seller.Email)
        <br>
        @Html.DisplayFor(Model => Seller.BirthDate)
        <br>
    }
    <a asp-action="Create">Create new Seller</a>
</div>
