@model IEnumerable<Inventory_Control.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Products</h1>
    @foreach (var Product in Model)
    {
        @Html.DisplayFor(Model => Product.ProductName)
        <br>
        @Html.DisplayFor(Model => Product.Quantity)
        <br>
        @Html.DisplayFor(Model => Product.Price)
        <br>
    }
    <a asp-action="Create">Create new Product</a>
</div>
